{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{{ block.super}}
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        
        <h1 style="text-align:center;">Businesses in {{hood.name}} </h1>
        <hr>
        <h2>Hood: {{hood.name}}</h2>
        <h3>Location: {{hood.locality}}</h3>

        <h4 id="text" class="card-title">Occupants: {{hood.occupants_count | upper}}</h4>

        <div class="row">

            <div class="col-md-12">
                <a href="{% url 'add_business'  %}" class="btn btn-sm btn-success">Add Business</a>

                <a href="{% url 'add_post'  %}" class="btn btn-sm btn-success">Add Post</a>
                <a href="{% url 'exit_hood' hood.id  %}" class="btn btn-sm btn-danger">Exit Hood</a>
            </div>
            <div class="col-md-12">
            <br>
                <div class="card-columns">
                    {% for business in businesses%}
                    <div class="card" style="width:100%;">


                        <div class="card-body" style="background-color:#eceff1;">
                            <h5>{{business.name | upper}}</h5>
                            <h5>{{business.description | safe}}</h5>
                            <p>{{business.email }}</p>
                        </div>
                    </div>

                    {% empty %}
                    <h5>No businesses! Register  <a style="color:#4fc3f7;" href="{% url 'add_business'  %}">here</a></h5>

                    {% endfor %}


                </div>
            </div>

            
<a href="" class="btn btn-sm btn-success" style="text-align:center;">Hood Posts</a>
                <br> <br>


                {% for post in posts%}
                <div class="row">
                <h3>{{post.name}}</h3>
                <p id="text" style="margin-bottom:0;">By <a style="width:100%; padding-left:10px;" href="{% url 'user_profile' username=post.poster %}">
                        <label>{{post.poster}}</label></a></p>

                {% empty %}
                <h5>No posts :-(
                    <br>
                    <a style="color:#4fc3f7;" href="{% url 'add_post'  %}">Create one now!</a></h5>

                {% endfor %}
                 </div>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}