{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{{ block.super}}
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="container-fluid">
    <h1 id="mainheading" style="text-align:center;" class="display-4"> Watchtower</h1>
    <h4>Don't see your hood ?
      Register it <a style="color:#4fc3f7;" href="{% url 'add_hood'  %}">here</a>
    </h4>
    <div class="card-columns">
      {% for hood in hoods%}

      <div class="card border-secondary">


        <div class="card-body" style="background-color:#eceff1;">


          <h4 id="text" class="card-title">Hood: {{hood.name }}</h4>
          <h6 id="text" class="card-title">Location: {{hood.locality | upper}}</h6>

          <h5 id="text" class="card-title">Occupants: {{hood.occupants_count | upper}}</h5>


          <!--<p class="card-text">{{post.description | safe}}</p>-->
          <a href="{% url 'join_hood' hood.id  %}" class="btn btn-sm btn-success">Join</a>
        </div>
      </div>
      {% endfor %}

    </div>






  </div>
</body>

</html>

{% endblock %}